[submodule "libraries/Adafruit_FXAS21002C"]
	path = libraries/Adafruit_FXAS21002C
	url = https://github.com/adafruit/Adafruit_FXAS21002C
[submodule "libraries/Adafruit_FXOS8700"]
	path = libraries/Adafruit_FXOS8700
	url = https://github.com/adafruit/Adafruit_FXOS8700
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "libraries/PIDArduino"]
	path = libraries/PIDArduino
	url = https://github.com/DonnyCraft1/PIDArduino
